<%= form_for @lunch, :html => { :class => "form-horizontal lunch" } do |f| %>

    <% if @lunch.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@lunch.errors.count, "error") %> prohibited this lunch from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @lunch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@lunch[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%= error_span(@lunch[:location]) %>
  </div>
  <div class="control-group">
    <%= f.label :lunch_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :lunch_date, :class => 'form-control' %>
    </div>
    <%= error_span(@lunch[:lunch_date]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            lunches_path, :class => 'btn btn-default' %>

<% end %>
