<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lunch.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lunch.location %>
</p>

<p>
  <strong>Lunch date:</strong>
  <%= @lunch.lunch_date %>
</p>

<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
